.button {
    button{
        color:#fff;  
        max-width: 200px;
        background-color:#3f50b5;      
        outline:none;
        width: 200px;
        padding:15px;
        border:none;
        border-radius: 20px;
    }
}
 