.chat{
    display: flex;
    justify-content: space-between;   
    align-items: center; 
    padding: 20px;
    height: 70px;
    border-bottom: 1px solid rgb(252, 250, 250);

    .chat__details{
        flex:1;
        margin-left: 20px;
        p{
            color: gray;
        }
        
    }
    
   .chat__timestamp{
        color: lightgray;
    }
}

a{
    text-decoration:none;
    color:inherit;
}
