.header{
    background: #fff;
    .header__main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        img{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        
    }
    .header__withbackbutton{
        display: flex;
        align-items: center;
        position: relative;
      }
      .header__mid{        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h3{
          color:rgb(73, 69, 69);
          text-transform: uppercase;
        }
        
      }
    
}
.header__icon{
    padding:20px;
}
.slide-pane__title-wrapper{
  margin: 0;
}

.slide-pane__close{
  margin: 0;
}
.slide-pane__title{
  font-weight: bold !important;
  max-width: 100% !important;
  text-transform: uppercase;
  text-align: center;
  
}
.slide-pane__header{
  background-color: gray;
}
.slide-pane__content{
  background-color: lightgray;  
}
