.login {
  .login__card {
    width: 800px;
    padding-top: 50px;
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }
}
