.profile{
    .profile__image{    
        width: 300px;
        height: 300px;
        img{
            width: 100%;
            border-radius: 10px;
            height: 100%;
        }
    }
    .profile__detail{
        padding: 20px 0;
        border-bottom: 2px solid gray;
        p{
            font-weight: bold;
        }
    }
    .profile__bio{
        text-align: justify;
        padding: 20px 0;
        h4{
            padding-bottom:5px;
            text-transform: uppercase;
        }
    }
}