.register {
    .register__card {
      padding-top: 20px;
      height: 500px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
    }
  }
  