.swipeButtons{    
     position: fixed;
     bottom: 5vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    .MuiIconButton-root {
        background-color: white;        
        box-shadow: 0px 10px 53px 0px rgba(0,0,0,0.3) !important;
        @media (min-width: 768px) {            
                height: 20px;
                width: 20px;                  
        }
    }
    .swipeButtons__button{
        padding: 3vw !important;
        &.--undo{
            color: rgb(206, 119, 119);
        }
        &.--like{
            color: rgba(86, 86, 165, 0.945);
        }
        &.--dislike{
            color: rgba(86, 86, 165, 0.945);
        }
    }
}


