.tindercards__container {
  display: flex;
  justify-content: center;
  margin: 5vh;
  .swipe {
    position: absolute;
    .card {
      position: relative;
      padding: 20px;
      border-radius: 20px;
      width: 600px;
      height: 50vh;
      max-width: 85vw;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.3);
      h3 {
        position: absolute;
        bottom: 10px;
        color: white;
      }
    }
  }
}
